header{
    nav{
        div{
            a{
                margin-left: 16px;
            }
        }
        div{
            background-color:rgb(240, 240, 183);
            padding: 10px;
            a {
                text-decoration: none;
                color: rgb(3, 70, 3);
                font-family: "Raleway", sans-serif;
            }
        }
        
    }  
}   